/* src/app/create-profile/create-profile.module.css */
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('/pizarra.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    padding: 2rem 3rem;
    text-align: center;
    width: 100%;
    max-width: 450px;
}

.card h1 {
    margin-top: 0;
}

.card p {
    color: #ccc;
    margin-bottom: 2rem;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    background-color: rgba(7, 7, 7, 0.138);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-family: var(--font-chalk);
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 12px 20px;
    font-size: 1.1rem;
    border: 2px solid #ffffff77;
    background-color: rgb(255, 230, 5);
}

.button:hover {
    background-color: rgb(26, 213, 41);
}